.card-container {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 22px;
  -webkit-text-stroke: 1px rgba(144, 238, 144, 0.7);
}

.card-content {
  display: grid;
  grid-template-areas: "first second third";
}

.card {
  width: 35vh;
  height: 30vh;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #412722;
  box-shadow: 0 8px 6px -4px #1e2022;
  border-radius: 10px;
  transition: transform 1s;
}

.front-side .back-side {
  backface-visibility: hidden;
}

.back-side {
  background: white;
  transform: rotateY(180deg);
}

.first-card {
  grid-area: first;
  background: url("../../assets/taskmanager.jpg");
}

.second-card {
  grid-area: second;
  background: lightgrey;
}

.third-card {
  grid-area: third;
  background: url("../../assets/game.jpg");
  background-size: cover;
}

@media (max-width: 950px) {
  .card-content {
    grid-template-areas: "first" "second" "third";
    border-radius: 10px;
    border: 3px solid #412722;
    box-shadow: 0 8px 6px -3px #1e2022;
  }

  .back-side {
    display: none;
  }

  .card {
    margin: 0;
    width: auto;
    height: 11vh;
    border-radius: 0;
    border: none;
  }

  .first-card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #412722;
  }

  .second-card {
    border-bottom: 2px solid #412722;
  }

  .third-card {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media only screen and (min-width: 950px) {
  .card:hover {
    transform: rotateY(180deg);
    transition: transform 1s;
  }
}
