.card-container {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 24px;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.card-content {
  display: grid;
  grid-template-areas: "first second third";
}

.card {
  font-weight: bold;
  width: 35vh;
  height: 35vh;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid #412722;
  box-shadow: 0 8px 6px -4px #1e2022;
  border-radius: 10px;
  transition: transform 200ms;
}

.front-side .back-side {
  backface-visibility: hidden;
}

.back-side {
  background: white;
  transform: rotateY(180deg);
  display: none;
}

.first-card {
  grid-area: first;
  background: url("../../assets/taskmanager.jpg");
}

.second-card {
  grid-area: second;
  background: #f2a365;
}

.third-card {
  grid-area: third;
  background: url("../../assets/game.jpg");
  background-size: cover;
}

@media (max-width: 950px) {
  .card-content {
    grid-template-areas: "first" "second" "third";
    border-radius: 10px;
    border: 3px solid #412722;
    box-shadow: 0 8px 6px -3px #1e2022;
  }

  .back-side {
    display: none;
  }

  .card {
    margin: 0;
    width: auto;
    height: 11vh;
    border-radius: 0;
    border: none;
  }

  .first-card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #412722;
  }

  .second-card {
    border-bottom: 2px solid #412722;
  }

  .third-card {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media only screen and (min-width: 950px) {
  .card:hover {
    transform: translateY(-5px) scale(1.1);
    /* transform: rotateY(180deg); */
    transition: transform 400ms;
  }

  .first-card {
    background: #dfdefe;
  }

  .second-card {
    background: #f2a365;
  }

  .third-card {
    background: rgba(102, 186, 255, 0.7);
  }

  .image-box {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 1px solid black;
    box-shadow: 4px 2px 8px 2px rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
  }

  .image-box.task {
    background: url(../../assets/tasklogo.png);
    background-size: cover;
  }

  .image-box.activre{
    background: url(../../assets/wip.jpg);
    background-size: cover;
  }

  .image-box.game {
    background: url(../../assets/game.png);
    background-size: cover;
  }
}
