.about-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 0.5fr 0.75fr 0.25fr 0.25fr 0.25fr 0.25fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        ". . . ."
        ". ph ph ."
        ". . . ."
        ". nm nm ."
        ". sub sub ."
        ". text text ."
        ". . . .";
    justify-content: center;
    align-items: center;
    background-color: rgb(181, 211, 238);
    font-family: 'Courier New', Courier, monospace;
}
.ui.top.fixed.menu {
    height: 6vh;
    font-family: 'Lucida', Courier, monospace;
    font-size: 1.25vw;
    background-color: rgb(181, 211, 238);
    margin-bottom: 1px;
}
strong:hover {
    color: maroon;
    font-size: 20px;
}
.profile-photo{
    grid-area: ph;
    background-image: url("logo.JPG");
    background-size: cover;
    height: 180px;
    width: 180px;
    border-radius: 100%;
    border: 3px dotted black;
    box-shadow: 10px 10px 5px rgb(46, 44, 44);
    margin: auto;
}
.title { 
    grid-area: nm;
    font-size: 2vw;
    text-justify: center;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
}
.subtitle {
    grid-area: sub;
    text-align: center;
    font-size: 16px;
    margin: auto;
}
.subtext {
    margin: auto;
    grid-area: text;
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;
}
.skills-container {
    background-color: rgb(46, 44, 44);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}