.about-container {
  width: 100%;
  height: 100%;
  background: white;
}

.content {
  display: grid;
  grid-template-areas: "banner banner" "info info" "project project";
  grid-template-rows: 0.5fr 1fr 0.25fr;
  width: 100vw;
  height: 100vh;
  text-align: center;
  /* background: linear-gradient(to right bottom, #c9d6df 35%, #52616b); */
  color: #eeeeee;
  padding-left: 3rem;
}

.banner-container{
  grid-area: banner;
}

.banner-image{
  background-image: url("../../assets/banner-pic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas: ". . ." ". name ." ". . ."; 
  grid-template-columns: 0.75fr 1fr 0.75fr;
  grid-template-rows: 0.75fr 1fr 0.75fr;
}

.banner-name{
  grid-area: name;
  /* background: red; */
  margin: auto;
  width: 100%;
}

.banner-text{
  color: #eeeeee;
  font-size: 30px;
  text-shadow: 1px 1px #ffd369;
  padding: 12px;
}

.information-container{
  grid-area: info;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #393e46;
  /* background: blue; */
}

.information{
  display: grid;
  grid-template-columns: 0.35fr 1fr;
  grid-template-areas: "image description";
}

.image-container {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  /* background: red; */
}

.image {
  background-image: url("../../assets/pfp.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0px 0px 2px 4px #ffd369;
  height: 10rem;
  width: 10rem;
}

.description-container {
  grid-area: description;
  display: flex;
  align-items: center;
  width: 40rem;
  box-shadow: 0px 2px #ffd369;
}

.description {
  padding: 10px;
  text-align: left;
  transition: 500ms ease;

  display: grid;
  grid-template-columns: 1fr 0.75fr;
  grid-template-areas: "about skills";
  grid-gap: 2%;
}

.about-section {
  grid-area: about;
  padding: 5px;
  width: 30rem;
  font-size: 17px;
}

.skills-section {
  grid-area: skills;
  padding: 5px;
}

.subtitle {
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
}

.info-list {
  margin: 0;
  padding: 5px 15px;
  list-style: circle;
  line-height: 1.4;
}

.skills-section .info-list {
  padding: 0 40px;
}

.info-list li {
  margin: 4px 0;
  font-size: 16px;
}

.project-container {
  grid-area: project;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222831;
}

.project {
  width: 70vw;
  height: 14rem;
  padding: 10px;
  text-align: left;
  transition: 500ms ease;
}

.skills-small {
  display: none;
  font-size: 16px;
  padding: 10px 5px;
  line-height: 2;
}

@keyframes animation {
  100% {
    background-position: 0px -3000px;
  }
}

@media (max-width: 1100px) {
  .about-container{
    width: 100%;
    height: 100%;
  }
  
  .content {
    grid-template-rows: 0.25fr 1fr 0.25fr;
    grid-template-areas: "banner" "info" "project";
  }

  .information-container{
    padding: 0;
  }

  .information{
    grid-template-areas: "image description";
  }

  .image-container {
    padding: 0;
    padding-left: 3rem;
  }

  .image{
    height: 9rem;
    width: 9rem;
  }

  .description-container {
    padding-top: 1rem;
    padding-left: 3rem;
    box-shadow: none;
  }

  .description {
    width: 30rem;
    height: 17rem;
    grid-template-areas: "about about" "skills skills";
    grid-gap: 0;
  }

  .about-section {
    padding: 0;
    font-size: 16px;
  }

  .skills-section {
    padding: 0;
    padding-top: 10px;
  }

  .subtitle {
    font-size: 24px;
  }

  .project {
    width: 85vw;
  }

  .info-list li {
    font-size: 2.95vmin;
    line-height: 1.5;
    margin: 0;
  }

  .skills-section .info-list {
    display: none;
  }

  .skills-small {
    display: inline;
    padding: 0;
    font-size: 17px;
  }

  .about-section{
    width: 100%;
  }

}

@media (max-width: 975px) {
  .content {
    padding-left: 3rem;
  }

  .banner-text{
    font-size: 20px;
  }

  .information{
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: "image image" "description description";
    height: 26rem;
  }

  .image-container{
    padding: 0;
    padding-top: 20px;
    width: 100%;
  }

  .description-container{
    padding: 0;
    padding-left: 20px;
  }

  .description {
    padding: 0;
    width: 85vw;
    height: 35vh;
  }

  .image {
    width: 8rem;
    height: 8rem;
  }
}

@media (max-width: 655px){
  .content {
    padding-left: 0;
    padding-top: 3rem;
  }

  .information{
    grid-template-rows: 0.25fr 1fr;
    grid-template-areas: "image image" "description description";
    height: 28rem;
  }

  .description {
    padding-top: 10px;
    height: 100%;
  }

  .about-container{
    padding: 0;
  }

  .about-section{
    width: 100%;
  }

  .skills-container{
    padding: 0;
  }
}

@media (max-width: 414px){
  .about-container{
    width: 100%;
    height: 100%;
  }

  .information{
    height: 90vh;
  }
}